/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
    .box {
        height: 180px;
    }
}

/* Landscape tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .box {
        height: 180px;
    }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .box {
        height: 180px;
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    .box {
        height: 180px;
    }
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
    .box {
        height: 230px;
    }
}