*
{
   font-family: 'Cantarell', sans-serif;
   margin-bottom: 0;
   margin-top: 0;
}

/* navigation */

header.header1 {

	background-color:  #296E7D;
	box-shadow: 0 10px 7px #25505D;
}

.header1 {
	width: 100%;
	color: #eee;
	height: 52px;
	margin-bottom: 20px;
}

.header1 a {
	color: #eee;
}

.header1 a:hover {
	color: #000;
}

.updateHeader {
	background-color: #eee;
	color: #000;
}

.navbar-toggle span {
	background-color: #eee;
}

nav ul li a {
	background-color: #296E7D;
}


.directIcon {
	margin-left: 5px;
}

.directIcon:hover {
	color: #eee;
	cursor: pointer;
}

.directIcon:active {
	color: #eee;
	cursor: pointer;
	transform: translateY(1px); 
}



button.btn.add.center-block {
	color: #fff;
}

button.btn.add.center-block:active {
	background-color: #353031;
	transform: translateY(1px); 
}


.navbar-inverse {
	border: none !important;
}

a.navbar-brand.idea:focus {
	color: #000;
}

.login {
	margin-top: 80px;
}


.mybg {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3cb5ca+0,2991a4+33,287482+66,255665+100 */
background: rgb(60,181,202); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(60,181,202,1) 0%, rgba(41,145,164,1) 33%, rgba(40,116,130,1) 66%, rgba(37,86,101,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(60,181,202,1) 0%,rgba(41,145,164,1) 33%,rgba(40,116,130,1) 66%,rgba(37,86,101,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(60,181,202,1) 0%,rgba(41,145,164,1) 33%,rgba(40,116,130,1) 66%,rgba(37,86,101,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cb5ca', endColorstr='#255665',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.mybgtitle {

	height: 130px;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.mybgtitle h4 {

	position: relative;
	top: -80px;
}


.center-block 
{
   float: none;
}

.add
{
	background-color: #000;
	color: #fff; 
}

.btn:hover {
	color: #fff !important;
}

button.save:active {
	transform: translateY(1px); 
}

.pencil
{
	background-color: rgb(226,230,229, 0);
	color: #000;
	position: absolute;
	right: 0;
	bottom: 0;
}

.pencil:active
{
	color: #000;
	transform: translateY(1px); 
}

.pencil:hover {
	color: #000;
}

.times
{
	background-color: rgb(226,230,229, 0);
	color: #000;
	position: absolute;
	right: 0;
	top: 0;
}


button.times:hover
{
	color: red;
}

.updateTime
{
	color: #000;
	position: absolute;
	right: 20px;
	top: 10px;
}


.idea
{
	color: #fff;
}

.alert {

	padding-top: 0 !important;
	padding-left: 0 !important;
	border: none !important;
	border-radius: 0 !important;
}

.alert2 {

	margin-bottom: 20px;
	padding-top: 5px;
	z-index: 0;
	padding-left: 0;
	border-top: 20px solid #FEA800;
	box-shadow: -3px 1px 8px #888;
}

.modal-header.colorModal0 {
	background-color: #FEA800;
	text-align: center;
}

.alert3 {
	border-top: 20px solid #90CB3F;
}

.modal-header.colorModal2 {
	background-color: #90CB3F;
	text-align: center;
}

.alert4 {
	border-top: 20px solid #EA5334;
}

.modal-header.colorModal1 {
	background-color: #EA5334;
	text-align: center;
}



.modal-header.text-center.colorUpdate0 {
	background-color: #FEA800;
}

.modal-header.text-center.colorUpdate1 {
	background-color: #EA5334;
}

.modal-header.text-center.colorUpdate2 {
	background-color: #90CB3F;
}

.headlines {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #eee;
	font-size: 21px;
}

.row.visible-lg-block {
	cursor: pointer;
}

.box
{

	box-shadow: 5px 8px 6px   #25505D;
	color: #353031;
	font-size: 14px;
}

.grab:active {
	cursor: grabbing;
}

.grab {
	cursor: grab;
}

.no-drop {
	cursor: no-drop;
}

.boxToDo
{
	background-color: #E2E6E5;
	margin-bottom: 30px !important;
}


.boxToImprove
{
	background-color: #E2E6E5;
	margin-bottom: 30px !important;
}

.boxWentWell
{
	background-color: #E2E6E5;
	margin-bottom: 30px !important;
}

.registerSuccess {
	text-align: center;
}

.updateLogin {
	margin: 0 auto;
}

.wordWrap {
	width: 91.66666667%;
	word-wrap: break-word;
}

.customPadding {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.sticky {
	position: relative;
	padding: 5px;
	padding-right: 30px;
}

.dropable {
	min-height: 700px !important;
	height: 100%;
}

.windows8 {
	position: relative;
	top: 100px;
	width: 78px;
	height:78px;
	margin:auto;
}

.windows8 .wBall {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgb(4, 3, 75);
	left:0px;
	top:0px;
	border-radius: 10px;
}

.loading-text {
	position: absolute;
	top: 20px;
	left: 5px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}

@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}