<div class="col-lg-0 visible-lg-block directIcon">
		<i class="fa fa-angle-double-right fa-2x" aria-hidden="true" ng-click="showPicture = !showPicture"></i>
</div>

<div class="container center-block">

	<div class="row visible-lg-block" ng-show="showPicture">
		<div class="col-lg-4 col-lg-offset-4 text-center mybgtitle" ng-click="hiddenPicture()">
				<img src="css/img/wstazka.png" class="img-responsive">
				<h4><b><i class="fa fa-user" aria-hidden="true"></i> Hello {{currentUser}} !</b></h4>
			   <br>			   
		</div>
		<input type="text" ng-model="searchFilter"/>
	</div>	

	<!-- =========================================== AddModal ==================================================== -->					  
	<form ng-submit="addMessage()">
		<div class="modal fade" id="notesModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header"  ng-class="colorModalHeader">
						<span><h4>Add message</h4></span>
				  </div>
				  <div class="modal-body">
						  <textarea  name="limitedtextarea" rows="5" cols="50" type="textarea" placeholder="Enter a note..." ng-model="message" ng-trim="false"></textarea>
					<br>
						<font size="1">(Maximum characters: 110)<br>								
						You have {{leftCharacters}} characters left.</font>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn add save">Save</button>
					<!-- <button type="button" class="btn btn-success" ng-if="response">Zapisano</button> -->
				  </div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</form>

<!-- ======================================= start to do =========================================== -->

	<div class="row">
	   	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center dropable" dropable data-table="toDo" drop="handleDrop(fromTable, toTable, id, text, reporter)">
			<h3 class="headlines"><strong>to do</strong></h3>			   
			<button type="button" class="btn boxToDo btn-sm" data-toggle="modal" data-target="#notesModal" ng-click="condition(0); colorModalHeader='colorModal0'"><span class="glyphicon glyphicon-plus text-center"></span></button>
			<div class="row" ng-if="!isLoading">							
				<div class="col-xs-6 col-sm-10 col-md-8 col-lg-6 customPadding" ng-repeat="item in toDo | searchFilter" ng-attr-draggable="{{item.reporter == currentUserID || role == 'admin' || undefined }}" ng-attr-data-transfer="{{item.reporter  == currentUserID || role == 'admin' ? item : null}}">					
					<div class="alert2 text-left box boxToDo wordWrap sticky" ng-class="item.reporter == currentUserID || role == 'admin'? 'grab grabbing' : 'no-drop' ">
						<button ng-if="item.reporter == currentUserID || role == 'admin' " type="button" class="btn btn-xs pencil" data-toggle="modal" data-target="#updateModal" ng-click="readOneItem('toDo', item); colorUpdateHeader='colorUpdate0'"><span class="glyphicon glyphicon-pencil text-left"></span></button>
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" ng-click="removeMessage('toDo', item)" class="btn btn-xs times"><strong>&times;</strong></button>									
						{{item.text}}								
					</div>
				</div>
			</div>			
	    </div> 


<!-- ========================================== end to do ============================================== -->
	     
	
		
<!-- ======================================== start went well =========================================== -->

	    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center dropable" dropable data-table="wentWell" drop="handleDrop(fromTable, toTable, id, text, reporter)">
	        <h3 class="headlines"><strong>went well</strong></h3>				
			<button type="button" class="btn boxWentWell btn-sm" data-toggle="modal" data-target="#notesModal" ng-click="condition(2); colorModalHeader='colorModal2'"><span class="glyphicon glyphicon-plus text-center"></span>
			</button>
			<div class="row" ng-if="!isLoading">					
				<div class="col-xs-6 col-sm-10 col-md-8 col-lg-6 customPadding" ng-repeat="item in wentWell | searchFilter" ng-attr-draggable="{{item.reporter == currentUserID || role == 'admin' || undefined }}" ng-attr-data-transfer="{{item.reporter  == currentUserID || role == 'admin' ? item : null}}">					
					<div class="alert2 alert3 text-left box boxWentWell wordWrap sticky" ng-class="item.reporter == currentUserID || role == 'admin'? 'grab grabbing' : 'no-drop' ">
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" class="btn btn-xs pencil" data-toggle="modal" data-target="#updateModal" ng-click="readOneItem('wentWell', item); colorUpdateHeader='colorUpdate2'"><span class="glyphicon glyphicon-pencil text-left"></span></button>
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" ng-click="removeMessage('wentWell', item)" class="btn btn-xs times"><strong>&times;</strong></button>
						{{item.text}}	
					</div>
				</div>				 								
			</div>
			<div class="row spinner" ng-if="isLoading">				
				<div class="windows8">
					<span class="loading-text">Loading...</span>
					<div class="wBall" id="wBall_1">
						<div class="wInnerBall"></div>
					</div>
					<div class="wBall" id="wBall_2">
						<div class="wInnerBall"></div>
					</div>
					<div class="wBall" id="wBall_3">
						<div class="wInnerBall"></div>
					</div>
					<div class="wBall" id="wBall_4">
						<div class="wInnerBall"></div>
					</div>
					<div class="wBall" id="wBall_5">
						<div class="wInnerBall"></div>
					</div>
				</div>
			</div>
	    </div>

<!-- ====================================== end went well ============================================== -->
	     
	
		
<!-- ======================================= start to improve =========================================== -->

	    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center dropable" dropable data-table="toImprove" drop="handleDrop(fromTable, toTable, id, text, reporter)">
	        <h3 class="headlines"><strong>to improve</strong></h3>			    
			<button type="button" class="btn boxToImprove btn-sm" data-toggle="modal" data-target="#notesModal" ng-click="condition(1); colorModalHeader='colorModal1'"><span class="glyphicon glyphicon-plus text-center"></span>
			</button>	
			<div class="row" ng-if="!isLoading">					
				<div class="col-xs-6 col-sm-10 col-md-8 col-lg-6 customPadding" ng-repeat="item in toImprove | searchFilter" ng-attr-draggable="{{item.reporter == currentUserID || role == 'admin' || undefined }}" ng-attr-data-transfer="{{item.reporter  == currentUserID || role == 'admin' ? item : null}}">					
					<div class="alert2 alert4 text-left box boxToImprove wordWrap sticky" ng-class="item.reporter == currentUserID || role == 'admin'? 'grab grabbing' : 'no-drop' ">
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" class="btn btn-xs pencil" data-toggle="modal" data-target="#updateModal" ng-click="readOneItem('toImprove', item); colorUpdateHeader='colorUpdate1'"><span class="glyphicon glyphicon-pencil text-left"></span></button>
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" ng-click="removeMessage('toImprove', item)" class="btn btn-xs times"><strong>&times;</strong></button>	
						{{item.text}}	
					</div>					
				</div>					
			</div>
	    </div>
	    
<!-- =================================== end to improve ============================================== -->


	<!-- =========================================== UpdateModal ==================================================== -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		          <div class="modal-header text-center" ng-class="colorUpdateHeader">
		          		<span><h4>Update message</h4></span>
		          </div>
		          <div class="modal-body text-center">						          	
			          	<textarea name="limitedtextarea2" rows="6" cols="60" type="textarea" ng-model="text" ng-trim="false"></textarea>
			          	<br>
							<font size="1">(Maximum characters: 110)<br>								
							You have {{leftCharacters}} characters left.</font>
		          </div>
		          <div class="modal-footer">
		            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            <button type="button" class="btn add save" ng-click="updateMessage()">Update</button>
		            <!-- <button type="button" class="btn btn-success" ng-if="response">Zapisano</button> -->
		          </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


	</div>	
</div>