<form ng-submit="login()" class="form-actions login" name="form">
  <div class="container login">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-mg-offset-4 col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">


          <div class="panel-heading">
            <h3 class="panel-title"><strong>Login</strong></h3>
          </div>
          <div class="panel-body">
          <div ng-show="error" class="alert alert-danger">{{error}}</div>

            <div class="form-group" ng-class="{ 'has-error' : error}">
              <i class="fa fa-key"></i>
              <label>Email</label>
              <input type="text" class="form-control" name="email" ng-model="userEmail" placeholder="Your e-mail address" required>
              <span ng-show="form.email.$touched && form.email.$invalid" class="help-block">E-mail is required.</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : error}">
              <i class="fa fa-lock"></i>
              <label>Password</label>
              <input type="password" class="form-control" name="password" ng-model="userPassword" placeholder="*******" required>
              <span ng-show="form.password.$touched && form.password.$invalid" class="help-block">Password is required.</span>
            </div>
            <hr>
            <button type="submit" ng-disabled="form.$invalid" class="btn add center-block">Log in</button>
            <!-- <button type="button" ng-disabled="form.$invalid" class="btn add center-block" ng-show="showInput">Save</button> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</form>

