<header class="header1">
	<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 navigation">
		    <nav class="navbar" role="navigation">
			  	<div class="container-fluid">

				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a ng-class="{active : isActive('/navigation')}" class="navbar-brand idea" href="#/navigation">IdeaBoardz</a>
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav navbar-right">
				        <li ng-class="{active : isActive('/login')}" ng-if="!success"><a href="#/login">Log In</a></li>
				        <li ng-if="success"><a href="#" ng-click="show()">Update Password</a></li>
				        <li ng-if="success"><a href="#/navigation" ng-click="logout()">Log Out</a></li>
				        <li ng-class="{active : isActive('/register')}" ng-if="success && role"><a href="#/register">Register</a></li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
			  	</div><!-- /.container-fluid -->
		 	</nav>
		</div>
	</div>
	</div>
</header>
<img src="css/img/kartki6.png" class="img-responsive" alt="Background" ng-show="tlo"> 

<!-- ========================================= MODAL UPDATE PASSWORD ============================================= -->

<form ng-submit="updatePassword()" class="form-actions" name="updateModal" ng-controller="NavigationController">
<div class="modal fade" id="update" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-sm updateLogin">
          <div class="modal-header updateHeader">
	              <i class="fa fa-lock"></i>
	              <label>Update Password</label>
	            <button type="button" class="close updateTime" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
				<div class="form-group" ng-class="{ 'has-error' : error }">
				  <div class="alert alert-info" ng-if="response.success"><span>{{message}}</span></div>
				  <div class="alert alert-warning" ng-if="response.error"><span>{{error}}</span></div>
	              <input type="password" class="form-control" name="updatePassword" ng-model="updatePass" ng-minlength="7" ng-maxlength="20" placeholder="*******" required>
	              <span ng-show="updateModal.updatePassword.$touched && updateModal.updatePassword.$invalid" class="help-block">Password must have 7-20 characters</span>
            	</div>
          </div>
          <div class="modal-footer">
<!--             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="submit" class="btn add center-block" ng-disabled="updateModal.$invalid">Update</button>
            <!-- <button type="button" class="btn btn-success" ng-if="response">Zapisano</button> -->
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>