<form ng-submit="register()" class="form-actions login" name="form">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-2 col-md-6 col-mg-offset-3 col-lg-6 col-lg-offset-3">
        <div class="alert alert-success registerSuccess" ng-if="registerSuccess">Saved in the database!</div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title"><strong>Register</strong></h3>
          </div>
          <div class="panel-body">

            <div class="form-group" ng-class="{ 'has-error' : errorName }">
              <i class="fa fa-child"></i>
              <label>Name</label>
              <input type="text" class="form-control" name="name" ng-model="userName" ng-minlength="3" placeholder="Give your name" required>
              <span class="text-danger">{{errorName}}</span>
              <span ng-show="form.name.$touched && form.name.$error.required" class="help-block">Name is required.</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : errorEmail }">
              <i class="fa fa-key"></i>
              <label>Email</label>
              <input type="text" class="form-control" name="email" ng-model="userEmail" placeholder="Your e-mail address" required>
              <span class="text-danger">{{errorEmail}}</span>
              <span ng-show="form.email.$touched && form.email.$error.required" class="help-block">E-mail is required.</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : errorPass }">
              <i class="fa fa-lock"></i>
              <label>Password</label>
              <input type="password" class="form-control" name="userPassword" ng-model="userPassword" placeholder="*******" required>
              <span class="text-danger">{{errorPass}}</span>
              <span ng-show="form.userPassword.$touched && form.userPassword.$error.required" class="help-block" ng-minlength="7" ng-maxlength="20">Password is required.</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : errorPassconf }">
              <i class="fa fa-lock"></i>
              <label>Confirm password</label>
              <input type="password" class="form-control" name="userPassconf" ng-model="userPassconf" placeholder="*******" required>
              <span class="text-danger">{{errorPassconf}}</span>
              <span ng-show="form.userPassconf.$touched && form.userPassconf.$error.required" class="help-block">This input is required.</span>
            </div>

            <hr>
            <button type="submit" ng-disabled="form.$invalid" class="btn add center-block">Add</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>